.RemoteJobBlock {
    height: 300px;
    background-color: #f8eaa5;
}

.RemoteJobContainer {
    flex-direction: column;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
    background-color: #cfa7fc;
}