/*resolution*/

$desktop: 1200px;
$desktop-1px: 1199px;

$smallDesktop: 992px;
$smallDesktop-1px: 991px;

$tabletop: 768px;
$tabletop-1px: 767px;

$mobile: 576px;
$mobile-1px: 575px;



/*colors*/

$primaryColor: #fff;
$bgSectionColor: #f7f7f7;
$accentColor: #00c6ff;
$accentGradientColor: #0072ff;
$fontColor: #666666;
$fontSecondColor: #151515;
