.skillsBlock {
}

.skillsContainer {
}

.skillsBlockTitle {
    background-color: white;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media screen and (max-width: 1200px) {
    .skillsBlock {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .skills {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}