@import "../../common/styles/variables";

.skillsBlock {
  @media screen and (max-width: $desktop) {
    height: auto;
  }

  .skillsContainer {
    .skills {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      @media screen and (max-width: $tabletop) {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}


