.menu{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media screen and (min-width: 992px) {
    .menu {
        flex-direction: row;
        flex-basis: auto;
        display: flex!important;
    }
}

@keyframes open {
    0% {height: 0;}
    100% {height: 154px;}
}

@media screen and (max-width: 991px) {
    .menu {
        padding-top: 5px;
        flex-basis: 100%;
        animation: open 0.5s;
    }
}

@keyframes close {
    0% {height: 154px;}
    100% {height: 0;}
}

.close {
    animation: close 0.5s;
}

.collapsed {
    display: none;
}

.menu li {
    margin-left: 20px;
}

@media screen and (max-width: 991px) {
    .menu li {
        margin: 8px 0;
    }
}


.menu__link{
    position: relative;
    padding: 0;
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
    color: #ececec;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.215em;
}

@media screen and (min-width: 992px) {
    .menu__link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

.menu__link::after {
    content: '';
    position: absolute;
    width: 0;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: auto;
    height: 1px;
    background: #fff;
    transition: ease all 0.2s;
}

.menu__link:hover:after {
    width: 75%;
}
