@import "../../common/styles/variables";

.nav {
  display: flex;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1030;
  top: 10px;
  padding: 15px 10px;
  transition: all 0.2s ease;
  @media screen and (max-width: $smallDesktop-1px) {
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 10px 15px;
    background: #111;
    overflow: hidden;
  }

  .headerContainer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (min-width: $smallDesktop) {
      flex-wrap: nowrap;
    }
    @media screen and (max-width: $smallDesktop-1px) {
      padding-right: 0;
      padding-left: 0;
    }

    .headerBrand {
      color: #fff;
      font-weight: 800;
      position: relative;
      font-size: 23px;
      display: inline-block;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      line-height: inherit;
      white-space: nowrap;
      text-decoration: none;
      background-color: transparent;

      .theme {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        bottom: 12px;
        right: -9px;
        float: left;
        background: $accentColor;
      }
    }

    .headerToggler {
      font-size: 1.25rem;
      line-height: 1;
      background: 0 0;
      border: none;
      padding: 10px 6px;
      outline: none;
      height: 34px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      @media screen and (min-width: $smallDesktop) {
        display: none;
      }

      & span {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: $primaryColor;
      }
    }
  }
}

.fixedNav {
  top: 0;
  margin-top: 0;
  padding: 12px 10px;
  background: #111;
  box-shadow: 0px 1px 27px -3px rgba(0, 0, 0, 0.2);
}











