.footerBlock {
    height: 300px;
    background-color: #f8a5cf;
}

.footerContainer {
    flex-direction: column;
    justify-content: space-around;
}

.title {

}

.footerSocials {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.footerLink {
    background-color: #cfa7fc;
    width: 60px;
    height: 60px;
}

@media screen and (max-width: 768px) {
    .footerSocials {
        width: 300px;
    }
}