.workBlock {
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

.icon {
    width: 300px;
    height: 200px;
    background-color: #9a9a9a;
    position: relative;
}

.workButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.workTitle {
    padding: 10px;
    background-color: #caf8a5;
}

.workDescription {
    padding: 10px;
    background-color: #74cbf5;
}
